.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nav-bar {
  display: flex; /* make the navbar a flex container */
  justify-content: space-between; /* distribute the links evenly */
  align-items: center; /* center the links vertically */
  padding: 20px; /* add some padding to the navbar */
  background-color: #f0f0f0; /* add a background color to the navbar */
}

.nav-link {
  margin: 0 10px; /* add some space between links */
  text-decoration: none;
  color: #333; /* default link color */
  transition: color 0.2s ease; /* add a smooth transition effect */
}

.nav-link:hover {
  color: #00698f; /* change link color on hover */
}

.nav-link.active {
  color: #00698f; /* change link color when active */
}

.nav-separator {
  margin: 0 10px; /* add some space between separators */
  color: #ccc; /* separator color */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
