.my-projects {
    max-width: 1500px;
    height: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    max-width: 1500px;
  }
  
  .project-frame {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .project-frame img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  .image-container {
    margin: 0 auto; /* Center the image */
  }
  
  .image-container img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  .project-info {
    text-align: center; /* Center the project info */
  }
  
  .project-frame h3 {
    font-weight: bold;
    margin-top: 0;
  }
  
  .project-frame p {
    margin-bottom: 10px;
  }
  
  .project-frame a {
    text-decoration: none;
    color: #0a07f1;
  }
  
  .project-frame a:hover {
    color: #23527c;
  }